body {
  width: 700px;
  margin: auto;
  padding: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
